*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
   height: 100vh;
    /* padding-left: 450px;
    padding-right: 450px; */
    background-color:  #FFF8F1;
    /* margin: 30px; */
    font-size: 35px;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    background-image: url(./img/logo2\ .png);
    height: 100px;
    width: 160px;   
    
}
.telefone{
    display: flex;    
    align-items: center;
}
.nav{
    display: flex;
    gap: 30px;
}
main{

}

